:root{
    --bgcolor : #4680ff;
    --litecolor : #fff;
    --barkcolor : #232323;
    --boder-color: 1px solid #4680ff;
}
@font-face {
    font-family:myfont ;
    src: url("/font/myfont.ttf");
}

body{
    margin: 0;
    padding: 0;
    font-family: myfont;
}
.nav{
  position: sticky;
  top: 0;
height: 80px;
width: 100%;
background-image: linear-gradient(260deg,#2B2B2BA1,#9A9A9AA1);
backdrop-filter: blur(3px);
}

.main-box{
  text-align: center;
  height: 250px;
  width: 100%;
  background-image: url("/svg/wave.svg");
  background-size: cover;
}
div{
  margin: 0;
}
.paragraph{
  color:#fff;
  width: 340px;
}
.urlbox{
  transition: all ease 0.3s;
  height: 40px;
  width: 300px;
  background-color: #FF007B00;
  border: 2px solid #FF007B;
  border-radius: 10px;
  text-align: center;
  outline: none;
  color: #FF007B;
}
.urlbox:hover{
  background-color: #ff007ba1;
  color: #fff;
    cursor: pointer;
}
n{
    color: red;
}
i{
    font-size: 24px;
}
.input-box{
    height: 30px;
    width: 280px;
    background-color: #4680ff00;
    outline: none;
    outline-color: none;
 border: none;
 color: #4680ff;
 cursor: pointer;
}
fieldset{
    height: 100%;
    width: 320px;
}
.lad{
  height: 120px;
}
.btn{
  transition: all 0.4s;
  height: 40px;
  width: 200px;
  background-color: #42445A00;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: #000;
  color: #fff;
}
button{
  cursor: pointer;
}
.wave{
  padding: 3px;
  padding-top: 10px;
  background-color: #E5E5E5;
}
.younin{
  height: 450px;
  width: 340px;
  background-color: #fff;
  position: fixed;
 top: 0;
 left: 30%;
 top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 100px 0 #000;
}
.myhtml{
 height: 360px; width: 334px;outline: none;border-radius: 10px;  
}
.vcc{display: none;}
.remon{
  height: 40px;
  width: 50px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.remon:hover{
  background-color: #000;
  color: #fff;
}
@media only screen and (max-width: 600px) {
.younin{
  height: 450px;
  width: 340px;
  background-color: #fff;
  position: fixed;
 top: 0;
 left: 5%;
 top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 100px 0 #000;
}
}