@font-face {
    font-family: webfont;
    src: url("/font/myfont.ttf");
}
/* css font */
body {
    margin: 0;
    padding: 0;
    font-family: webfont;
}

.navbig {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffffffbe;
    box-shadow: 0 0 3px 0 #000000bb;
    backdrop-filter: blur(10px);
z-index: 100;
}

.title {
    font-size: 28px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.menu-btn {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100px;
    position: absolute;
    right: 20px;
    top: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-btn:hover {
    background-color: #4680ff;
    color: #fff;
}

.menu-btn i {
    font-size: 40px;
}
.bgnote{
  margin: 0;
    height: 200px;
    background-image: url("/img/sides/home-slider.gif");
    height: 250px;
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
}
.rotex{
    height: 100%;
    background-color: #000000a5;
   text-align: center;
   color: #ffffff;
   overflow: hidden;
}
.card{
    height: 400px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 3px;
    border-radius: 10px;
    transition: all 0.7s;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  
}
.ijtml{
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ijtml img{
    height: 100%;
    width: 100%;
}
.btn{
    padding: 10px;
    border: 1px solid #4680ff;
    border-radius: 10px;
    text-decoration: none;
    color: #4680ff;
    transition: all 0.4s;
}
.btn:hover{
    background-color: #4680ff;
    color: #fff;
}

.footer{
  color: #fff;
  height: 100%;
  width: 100%;
  background-color: #42445A;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .rotez{
  color: white;
  font-size: 30px;
  border-bottom: 5px solid #76FF0D;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
   border-left: 5px solid #76FF0D;
 

}
.xi{
  transition: all 0.4s;
}
.xi:hover{
 cursor: pointer;
 padding: 10px;
 border: 1px dotted #76FF0D;
 border-radius: 100px;
 color: #76FF0D;
}